# Project exclude paths
/target/
/.idea/
/reports
!/reports/.gitexclude
/bin/
!/bin/.gitexclude
/src/test/java/tests/BaseTest.java
/lib/*
!/lib/Readme.MD

.env*
!.env.example
!.env.*.example
/screenshots/
/.idea/misc.xml
/screenshots/
